body{
    background-color: #111827;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
#head img{
    width: 20px;
    display: none;
}
#head ul{
    display: flex;
    justify-content: right;
    list-style: none;
}
#head ul li{
    padding: 0px 10px;
    font-size: 23px;
}
#home{
    background-color:rgb(100, 100, 224);
    border-radius: 20px;

}
#main1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    /* padding: 4px; */
    /* margin: 0px 10px; */
}
#l1{
    display: flex;
    margin-top: 120px;
    margin-right: 15px;
}
#s1{
    font-size: 35px;
}
#s2{
    font-size: 60px;
    margin-left: -50px;
}
#s3{
    margin-left: -50px;
    color: rgb(197, 197, 89);
}
#l1 img{
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-right: 10px;
}
#main-right{
    margin-left: 15px;
}
#main-right img{
    width: 420px;
}
#main-top{
    display: grid;
    justify-content: center;
    margin-top: 25px;
    /* flex-direction: column; */
}
#main-top h1{
    font-size: 40px;
}
#main-top p{
    margin-top: -22px;
    width: 135px;
    height: 10px;
    background-color: blue;
    border-radius: 20px;
}
#main-bottom{
    display: grid;
    grid-template-columns: repeat(2,0fr);
    row-gap: 15px;
    column-gap:15px;
    align-items: center;
    
    justify-content: center;
}
.ibox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ibox p{
    margin-top: -5px;
}


.ibox img{
    width: 300px;
}
/* #main-bottom p{
    display: flex;
    justify-content: center;
    margin-top: -15px;
} */

#footer-top{
    display: grid;
    justify-content: center;
}
#footer-top h1{
    font-size: 38px;
}
#footer-top p{
    margin-top: -22px;
    width: 190px;
    height: 10px;
    background-color: blue;
    border-radius: 20px;
}
#footer-body{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 70px;
    
}
.imgg{

    width: 30px;
    padding: 0px 10px;
}
@media screen and (max-width:576px){
    #head ul{
        display: none;
    }
    #head img{
        display: flex;
        width: 20px;
    }
    #main1{
        display: block;
    }
    #l1{
        display: grid;
        justify-content: center;
        margin-top: 10px; 
    }
    #l1 img{
        margin-left: 120px;
    }
    #s1{
        display: flex;
        font-size: 22px;
        margin-top: -5px;
        justify-content: center;
    }
    #s2{
        display: flex;
        font-size: 42px;
        margin-top: -35px;
        margin-left: 12px;
        justify-content: center;
    }
    #s3{
        display: flex;
        margin-top: -30px;
        margin-left: 12px;
        font-size: 25px;
        justify-content: center;
    }
    #head img{
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
        /* justify-content: center; */
        /* margin-left: 200px; */
    }
    #main-right{
        display: flex;
        justify-content: center;
    }

    #main-right img{
        width: 300px;

    }
    #main-top h1{
        font-size: 35px;
    }
    #main-top p{
        margin-top: -22px;
        width: 125px;
        height: 10px;
        background-color: blue;
        border-radius: 20px;
    } 
    #main-bottom{
        display: block;
        /* grid-template-columns: repeat(2,1fr);  */
         /* grid-gap: 15px; */
        /* flex-direction: column; */
        /* justify-content: center; */
    }
    #footer-body{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 70px;
        
    }

}